.details-img
    object-fit: cover
    width: 100%
    border-radius: 1%


.columnWrapper
    display: flex
    width: 100%
    justify-content: space-evenly


.detailsLeftCol
    display: flex
    flex-direction: column
    width: 45%
    text-align: left

.detailsRightCol
    display: flex
    flex-direction: column
    width: 45%

.gameTitle
    font-size: 56px
    font-weight: bold
    padding-top: 20px
    padding-bottom: 20px