.gameCard
    background-color: $secondary
    border-radius: 1%
    width: 226px
    
    margin: 20px
    border: solid 1px

.gameCardImg
    height: 126px
    width: 226px
    object-fit: cover
    border-radius: 1%

.card-deck
    display: flex
    flex-direction: row
    flex-wrap: wrap
    padding-left: 5px
    padding-right: 5px

.card-header
    display: block
    font-size: 18px
    font-weight: bold
    text-align: center
    padding-top: 10px
    padding-bottom: 10px