.details-img
    object-fit: cover
    width: 100%
    border-radius: 1%

.small-details-img
    object-fit: cover
    width: 30%
    border-radius: 3%
    margin-top: 10px

.small-image-wrapper
    display: flex
    justify-content: space-between,
    flex-wrap: wrap

.columnWrapper
    display: flex
    width: 100%
    justify-content: space-evenly


.detailsLeftCol
    display: flex
    flex-direction: column
    width: 45%
    text-align: left
    border: solid 2px
    border-radius: 1%
    border-color: #000
    padding: 10px 30px 10px 30px
    color: $font-color

.detailsRightCol
    display: flex
    flex-direction: column
    width: 45%
    border: solid 2px
    border-radius: 1%
    border-color: #000

.gameTitle
    font-size: 56px
    font-weight: bold
    padding-top: 20px
    padding-bottom: 20px

.platforms
    display: flex
    flex-direction: column

.game-description
    padding-bottom: 20px

.content-spread-div
    display: flex
    width: 100%
    justify-content: space-evenly

.content-list
    margin: 0px