.header
    align-items: center
    display: flex
    flex-direction: row
    background-color: $dark
    color: $secondary

.logo
    display: flex
    align-items: center

.menu-bar-link
    text-decoration: none
    color: $header-link-color
    padding-left: 10px
    padding-right: 10px
    padding-top: 20px
    padding-bottom: 20px
    margin-left: 10px
    margin-right: 10px
    padding: 8px 16px 8px 16px

.menu-link-div
    display: flex
    margin-left: 8rem
    flex-grow: 1

.navbar-brand
    padding-left: 5px
    text-decoration: none
    color: $secondary